<%- include('layout/auth_header.ejs') %>

  <%- include('layout/auth_topbar.ejs') %>

    <!-- ***** Main Banner Area Start ***** -->
    <section class="section main-banner" id="top" data-section="section1">
      <div class="img-banner">
        <img src="images/analisa/forex-analytics-hero.jpg" alt="#forex-analytics">
      </div>

      <div class="banner-overlay header-text banner-copy">
        <div class="caption2">
          <div class="row">
            <div class="col-md-6 ">
              <small class="text-uppercase text-muted pl-4" style="font-weight: 800;">ANALISA</small>
              <h2 class="mt-2 text-left">Peralatan analisa yang akurat</h2>
              <h4 class="mt-5 text-left">Prediksi naik turunnya harga mata uang, nilai tukar dan instrumen trading
                lainnya
                sebelum
                terjadi dengan menggunakan analisa pasar terpercaya Forex4you.</h4>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** Main Banner Area End ***** -->

    <!-- //=============================================== Contain Fist ========================================= -->
    <section class="section investing-col-bg content-first">
      <div class="container">
        <div class="row">
          <h2 class="text-center">Semua yang Anda butuhkan untuk mulai trading. Gratis - bebas biaya.</h2>
        </div>
      </div>
    </section>

    <!-- //=============================================== End Contain Fist ========================================= -->

    <!-- //=============================================== berita card ========================================= -->
    <section class="section investing-col-bg2 berita-card">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="card" style="width: 15rem; height: 35rem;">
              <img src="images/analisa/fxstreet-logo.png" class="card-img-top" alt="#fxstreet-logo">
              <div class="card-body">
                <h5 class="card-title">Berita</h5>
                <p class="card-text text-dark text-left">Layanan berita forex eksklusif menduduki peringkat teratas oleh
                  pengguna
                  Twitter di
                  seluruh dunia untuk analisis pasar forex. Layanan berita umumnya menerbitkan 200-250 berita setiap
                  hari
                  dalam 6 bahasa, yaitu Inggris, Mandarin (Sederhana/Tradisional), Thailand, Indonesia, dan Vietnam.</p>
                <a href="https://account.forex4uid.com/id/analytics/news" class="btn btn-success">LEBIH LANJUT</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card" style="width: 15rem; height: 35rem;">
              <img src="images/analisa/fxstreet-logo.png" class="card-img-top" alt="#fxstreet-logo">
              <div class="card-body">
                <h5 class="card-title">Kalender Ekonomi</h5>
                <p class="card-text text-dark text-left">Semua kegiatan trading yang penting disertai dengan penjelasan
                  mengenai
                  efeknya, di
                  dalam satu kalender yang praktis.</p>
                <a href="/kalender-ekonomi" class="btn btn-success">LEBIH LANJUT</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card" style="width: 15rem; height: 35rem;">
              <img src="images/analisa/trading-central.png" class="card-img-top mt-2 mx-auto"
                style="width: 100px; height: 80px;" alt="#trading-central">
              <div class="card-body">
                <h5 class="card-title">Analisa teknikal Trading Central</h5>
                <p class="card-text text-dark text-left">Analisa teknis yang mudah dibaca dan profesional untuk enam
                  pasangan mata
                  uang utama:
                  EURUSD, GBPUSD, USDCHF, USDJPY, USDCAD, AUDUSD. Akses ke Trading Central bisa didapatkan secara gratis
                  di
                  bagian "Analisa" pada Trade Room.</p>
                <a href="/trading-central" class="btn btn-success">LEBIH LANJUT</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card" style="width: 15rem; height: 35rem;">
              <img src="images/analisa/play.png" class="card-img-top mt-2 mx-auto" style="width: 100px; height: 80px;"
                alt="#analisa">
              <div class="card-body">
                <h5 class="card-title">WebTV Trading Central</h5>
                <p class="card-text text-dark text-left">Klien Forex4you juga dapat menyaksikan berita finansial pada
                  Trading Central
                  secara
                  online di WebTV</p>
                <a href="https://view.vzaar.com/playlists/5168?autoplay=0" class="btn btn-success">MENONTON SEKARANG</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- //=============================================== End berita card ========================================= -->

    <%- include('layout/auth_footer.ejs') %>