<%- include('layout/auth_header.ejs') %>

  <%- include('layout/auth_topbar.ejs') %>

    <!-- ***** Main Banner Area Start ***** -->
    <section class="section main-banner" id="top" data-section="section1">
      <div class="img-banner">
        <img src="images/investing/investing-bg.jpg" alt="">
      </div>

      <div class="banner-overlay header-text banner-copy">
        <div class="caption2">
          <div class="row">
            <div class="col-lg-5 ">
              <small class="text-uppercase text-muted pl-4" style="font-weight: 800;">SHARE4YOU – COPY TRADING</small>
              <h2 class="mt-2 text-light">Share4you adalah cara baru untuk
                berinvestasi melalui trading sosial</h2>
              <h4 class="mt-5 text-light">Ikuti aktivitas trading dari para leader di Share4you,salin pilihan trading
                mereka
                dan raih
                keuntungan dari kesuksesan mereka.</h4>
            </div>
          </div>
          <div class="main-button mt-5">
            <div class="scroll-to-section tn"><a class="btn btn-success text-light text-uppercase" href="#">ikuti
                Share4you</a></div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** Main Banner Area End ***** -->

    <!-- Invasting Section  1 -->
    <section class="section investing-first">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="content-invest">
              <div class="card" style="width: 12rem;">
                <img src="images/investing/toy-blocks.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h6 class="card-text">Tidak perlu pengalaman trading</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="content-invest">
              <div class="card" style="width: 12rem;">
                <img src="images/investing/settings.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h6 class="card-text">Layanan otomatis</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="content-invest">
              <div class="card" style="width: 12rem;">
                <img src="images/investing/world-wide-web.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h6 class="card-text">Tidak perlu mengunduh</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="content-invest">
              <div class="card" style="width: 12rem;">
                <img src="images/investing/insurance.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h6 class="card-text">Fitur pengendalian resiko</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="content-invest">
              <div class="card" style="width: 12rem;">
                <img src="images/investing/shield.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h6 class="card-text">Aman dan terlindungi</h6>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- End Investing 1 -->
    <!-- //============================ Kesuksessan =============================== -->
    <section class="section investing-second ">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg">
            <div class="content-header">
              <h2>Tirulah kesuksesan orang lain</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="content-invest">
              <div class="card" style="width: 20rem;">
                <h3>Mudah diikuti</h3>
                <div class="card-body">
                  <p class="card-text">Bahkan jika Anda adalah seorang pemula sekalipun, Anda tetap dapat menjadi bagian
                    dari
                    pasar trading dengan menggunakan layanan trading sosial yang mudah ini.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="content-invest">
              <div class="card" style="width: 20rem;">
                <h3>Jalin hubungan dengan
                  para trader berpengalaman</h3>
                <div class="card-body">
                  <p class="card-text">Kami menghubungkan Anda dengan para trader berpengalaman, lihat dan tirulah
                    aktifitas
                    mereka dan raih kesuksesan yang sama. Anda dapat memulainya dengan modal yang lebih rendah.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="content-invest">
              <div class="card" style="width: 20rem;">
                <h3>Cepat, tepat dan
                  tiruan yang terpercaya</h3>
                <div class="card-body">
                  <p class="card-text">Agar Anda mendapatkan pengalaman terbaik, kami menggunakan teknologi copy trading
                    terkini dan tercepat di industri ini!.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="content-flow">
              <div class="card" style="width: 8rem;">
                <img src="images/investing/stats.png" alt="">
                <div class="card-body">
                  <h6 class="card-text">Mengikuti aktivitas</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="content-flow">
              <div class="card" style="width: 8rem;">
                <img class="d-inline" src="images/investing/right-arrow.png" alt="">
              </div>
            </div>
          </div>
          <div class="col">
            <div class="content-flow">
              <div class="card" style="width: 8rem;">
                <img src="images/investing/team.png" alt="">
                <div class="card-body">
                  <h6 class="card-text">Memilih trader</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="content-flow">
              <div class="card" style="width: 8rem;">
                <img class="d-inline" src="images/investing/right-arrow.png" alt="">
              </div>
            </div>
          </div>
          <div class="col">
            <div class="content-flow">
              <div class="card" style="width: 8rem;">
                <img src="images/investing/copy.png" alt="">
                <div class="card-body">
                  <h6 class="card-text">Meniru trading mereka</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="content-flow">
              <div class="card" style="width: 8rem;">
                <img class="d-inline" src="images/investing/right-arrow.png" alt="">
              </div>
            </div>
          </div>
          <div class="col">
            <div class="content-flow">
              <div class="card" style="width: 8rem;">
                <img src="images/investing/money.png" alt="">
                <div class="card-body">
                  <h6 class="card-text">Raih keuntungan</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- //============================ End Kesukssessan =============================== -->


    <!-- Google Maps -->
    <section class="section contact" data-section="section6">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Let’s Keep In Touch</h2>
            </div>
          </div>
          <% include ('layout/google_map.ejs') %>
        </div>
      </div>


      <%- include('layout/auth_footer.ejs') %>