<%- include('layout/auth_header.ejs') %>

<%- include('layout/auth_topbar.ejs') %>

<!-- ***** Main Banner Area Start ***** -->
<section class="section main-banner" id="top" data-section="section1">
  <div class="img-banner">
    <img src="images/bg-polos.jpg" alt="#kalender-ekonomi">
  </div>

  <div class="banner-overlay header-text banner-copy">
    <div class="caption2">
      <div class="row">
        <div class="col-md-6">
          <small class="text-uppercase text-muted pl-4" style="font-weight: 800;">KALENDER EKONOMI</small>
          <h2 class="mt-2 text-left" style="font-size: 50px;">Kalender Ekonomi</h2>
          <h4 class="mt-5 text-left">Adalah salah satu kunci utama untuk mengidentifikasi kegiatan ekonomi penting atau
            data yang dapat mempengaruhi mata uang atau instrumen lain.</h4>
          <br>
          <a class="mb-4 text-success" href="#why-should-use"> > Mengapa saya harus menggunakannya ?</a>
          <br>
          <br>
          <a class="mt-4 text-success" href="#why-should-use"> > Bagaimana cara membacanya ?</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Main Banner Area End ***** -->
<section class="section investing-col-bg">
  <div class="container text-light">
    <div class="row">
      <div class="how-analisa">
        <div class="col-lg-6">
          <h3 class="text-left">Mengapa saya harus menggunakannya ?</h3>
          <p class="text-light">Kalender kegiatan ekonomi merupakan alat penting bagi Anda yang akan memberikan
            ketepatan
            trading. Kalender
            kami sangat terpercaya dan Anda dapat menggunakannya untuk kepentingan Anda. Sangat lengkap, akurat dan
            tepat
            digunakan pada pasar Forex. Kami memiliki tim ekonom dan jurnalis yang mengumpulkan serta memperbarui data
            24
            jam sehari, 5 hari dalam seminggu.</p>
          <br>
          <p class="text-light">Jika Anda trader murni atau news trader, kalender ini amat bermanfaat. Untuk melakukan
            trading Forex melalui
            analisa murni, Anda harus melihat kondisi ekonomi di seluruh dunia berdasarkan data makroekonomi ( GDP,
            tenaga
            kerja, data konsumsi, inflasi .. ) melihat dengan jeli negara yang mata uangnya Anda perdagangkan. Kalender
            ekonomi kami adalah mitra setia, yang dapat dibuka setiap saat di komputer Anda, bahkan jika Anda tak
            terlalu
            mementingkan kondisi makroekonomi sekalipun.</p>
        </div>
        <div class="col-lg-6">
          <h3 class="text-left mt-5">Bagaimana cara membacanya ?</h3>
          <h6 class="font-weight-bold text-light">Mata uang</h6>
          <p class="text-light">Ikon bendera menunjukkan negara dan disebelahnya adalah mata uangnya. Anda dapat segera
            melihat dan
            mempelajari untuk mengetahui pengaruhnya hari ini atau hari lainnya.</p>
          <br>
          <h6 class="font-weight-bold text-light">Volatilitas</h6>
          <p class="text-light">Disingkat Vol. Vol menunjukkan pengaruh suatu kegiatan atau data pada aset yang dimiliki
            dengan warna
            kuning/orange/merah. 3 warna merah menunjukan relevansi tinggi atau pengaruh yang sangat kuat pada aset
            kita.
            1 warna kuning menunjukkan pengaruh yang lemah. Warna orange menunjukkan pengaruh yang sedang.</p>
          <br>
          <h6 class="font-weight-bold">Actual/Consensus/Previous</h6>
          <p class="text-light">Semua indikator di kalender ekonomi ini memiliki angka sebelumnya , yang menunjukkan
            data
            dari laporan
            terakhir (lamanya bisa bervariasi ; bulan lalu, trisemester akhir .. ) . Pada hampir semua indikator kami
            menambahkan angka konsensus , yaitu kesepakatan umum dari para ahli mengenai hasil dari angka tersebut.
            Ketika
            data resmi dikeluarkan, data tersebut akan langsung terlihat pada bagian kanan indikator volatilitas .</p>
          <br>
          <p class="text-light">Lebih baik atau lebih buruk dari yang diharapkan ? Ketika kami memiliki konsensus yang
            telah dipublikasikan,
            kami akan menandai dengan warna hijau bila datanya lebih baik dari harapan, dan warna merah jika lebih
            buruk.

        </div>
      </div>
    </div>
  </div>
</section>

<%- include('layout/auth_footer.ejs') %>