<%- include('layout/auth_header.ejs') %>

<%- include('layout/auth_topbar.ejs') %>

<!-- ***** Main Banner Area Start ***** -->
<section class="section main-banner" id="top" data-section="section1">
  <div class="img-banner">
    <img src="images/copy-trading/thumb-350.jpg" alt="">
  </div>

  <div class="banner-overlay header-text banner-copy">
    <div class="caption2 caption3">
      <h6 class="text-muted text-uppercase text-center" style="font-weight: 800; opacity: 60px;">analisa</h6>
      <h2 class="mt-2">Platform Trading</h2>
      <h5 class="mt-5">Forex4you memiliki teknologi canggih atau yang populer dengan nama platform MetaTrader 4, pilihan
        ada di tangan Anda. Silahkan melakukan trading dari satu akun atau beragam akun sekaligus.</h5>
    </div>
  </div>
</section>
<!-- ***** Main Banner Area End ***** -->

<!-- //=============================================== platform trading ========================================= -->
<section class="section investing-col-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="images/platform/forex4you-mobile-app-on-hand.png">
      </div>
      <div class="col-lg-6 mt-5 text-light">
        <h2 class="mt-2">Platform Trading</h2>
        <h5 class="mt-5">Forex4you memiliki teknologi canggih atau yang populer dengan nama platform MetaTrader 4,
          pilihan
          ada di tangan Anda. Silahkan melakukan trading dari satu akun atau beragam akun sekaligus.</h5>
      </div>
    </div>
  </div>
</section>
<!-- //=============================================== End platform trading ========================================= -->
<!-- //=============================================== platform trading ========================================= -->
<section class="section investing-col-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mt-5 text-light">
        <h2 class="mt-2">MetaTrader 4</h2>
        <h5 class="mt-5">Ini adalah piranti profesional online trading paling populer yang pernah ada, dengan peralatan
          dan fitur untuk trading lengkap serta untuk melakukan analisa pasar. Termasuk juga kemampuan untuk menciptakan
          atau menggunakan robot saat melakukan trading.</h5>
      </div>
      <div class="col-lg-6">
        <img src="images/platform/metatrader4-platforms.png">
      </div>
    </div>
  </div>
</section>
<!-- //=============================================== End platform trading ========================================= -->
<!-- //=============================================== platform trading ========================================= -->
<section class="section investing-col-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mt-5 text-light">
        <h2 class="mt-2">Forex4you WebTrader</h2>
        <h5 class="mt-5">Platform web unik dan lengkap untuk trading Forex yang mudah digunakan. Diciptakan dengan
          menggunakan teknologi terkini milik kami dengan fitur unik.</h5>
      </div>
      <div class="col-lg-6">
        <img src="images/platform/forex4you-webtrader-on-tablet.jpg">
      </div>
    </div>
  </div>
</section>
<!-- //=============================================== End platform trading ========================================= -->
<!-- //=============================================== platform trading ========================================= -->
<section class="section investing-col-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mt-5 text-light">
        <h2 class="mt-2">Desktop Forex4you</h2>
        <h5 class="mt-5">Platform trading Forex kami dapat dimasukkan ke Window dan MacOS dan sangat mudah digunakan.
          Dibuat dengan teknologi terkini yang kami miliki untuk menjadikannya lebih cepat dan memberikan pengalaman
          trading yang nyaman berkat fiturnya yang lengkap.</h5>
      </div>
      <div class="col-lg-6">
        <img src="images/platform/metatrader4-platforms.png">
      </div>
    </div>
  </div>
</section>
<!-- //=============================================== End platform trading ========================================= -->
<section class="section investing-col-bg2">
  <div class="conatainer">
    <div class="row">
      <div class="col-md-12">
        <h4 class=" text-light mx-auto text-center mt-4" style="font-weight: 800;">5 kelas aset – 19 platform trading –
          lebih dari 150 instrumen</h4>
      </div>
    </div>
    <div class="button-login mt-4">
      <a href="" class="btn btn-success text-light">Buka Akun</a>
    </div>
    <p class="mt-5 text-light">Trading CFD memiliki resiko kerugian yang signifikan</p>
  </div>
</section>
<%- include('layout/auth_footer.ejs') %>