<%- include('layout/auth_header.ejs') %>

<%- include('layout/auth_topbar.ejs') %>
<!-- //=============================================== banner first ========================================= -->
<section class="section main-banner" id="top" data-section="section1">
  <div class="img-banner">
    <img src="images/analisa2/bg-banner.jpg" alt="">
  </div>

  <div class="banner-overlay header-text banner-copy">
    <div class="caption2">
      <div class="row">
        <div class="col-md-6 ">
          <small class="text-uppercase text-muted pl-4 " style="font-weight: 800;">TRADING CENTRAL</small>
          <h2 class="mt-2 text-light text-left">Analisa teknis dari Trading Central</h2>
          <h4 class="mt-5 text-light text-left">Trading Central adalah salah satu penyedia analisa teknis terbaik di
            industri ini.
            Tersertifikasi dari tiga asosiasi Penyedia Riset Independen : Investorside Research, Euro IRP dan Asia IRP
            juga bagian dari Registered Investment Adviser (RIA) dan U.S. Securities and Exchange Commission (SEC).</h4>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- //=============================================== end banner first ========================================= -->


<!-- //=============================================== content analisa teknis ========================================= -->
<section class="section investing-col-bg content-at">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Analisa teknis dari Trading
            Central meliputi:</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card-analisa-teknis">
            <div class="card" style="width: 8rem;">
              <div class="card-body">
                <img src="images/analisa2/eu.png" class="card-img-top">
                <img src="images/analisa2/us.png" class="card-img-top">
                <p class="card-text">EUR / USD</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-analisa-teknis">
            <div class="card" style="width: 8rem;">
              <div class="card-body">
                <img src="images/analisa2/gb.png" class="card-img-top">
                <img src="images/analisa2/us.png" class="card-img-top">
                <p class="card-text">GBP / USD</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-analisa-teknis">
            <div class="card" style="width: 8rem;">
              <div class="card-body">
                <img src="images/analisa2/us.png" class="card-img-top">
                <img src="images/analisa2/ch.png" class="card-img-top">
                <p class="card-text">USD / CHF</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-analisa-teknis">
            <div class="card" style="width: 8rem;">
              <div class="card-body">
                <img src="images/analisa2/us.png" class="card-img-top">
                <img src="images/analisa2/jp.png" class="card-img-top">
                <p class="card-text">USD / JPY</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-analisa-teknis">
            <div class="card" style="width: 8rem;">
              <div class="card-body">
                <img src="images/analisa2/us.png" class="card-img-top">
                <img src="images/analisa2/ca.png" class="card-img-top">
                <p class="card-text">USD / CAD</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-analisa-teknis">
            <div class="card" style="width: 8rem;">
              <div class="card-body">
                <img src="images/analisa2/au.png" class="card-img-top">
                <img src="images/analisa2/us.png" class="card-img-top">
                <p class="card-text">AUD / USD</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- //=============================================== end analisa teknis
   ========================================= -->

<!-- //=============================================== Bagaimana cara mendapatkan analisa dari Trading Central:========================================= -->
<section class="section investing-col-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="card" style="width: 25rem;">
          <div class="card-body">
            <h5 class="card-title" style="font-weight: 800; font-size: 15px;">Bagaimana cara mendapatkan analisa dari
              Trading Central:
            </h5>
            <h6 class="card-subtitle mb-4 text-muted" style="position: relative;"><img src="images/icons/check.png"
                class="mr-2">Daftar untuk
              berlangganan
              newsletter di Trader Room, pada bagian <a
                href="https://account.forex4uid.com/id/user#/subscription/">"Berlangganan"</a></h6>
            <h6 class="card-subtitle mb-4 text-muted" style="position: relative;"><img src="images/icons/check.png"
                class="mr-2">Lihat di Trader
              Room, pada
              bagian <a href="https://account.forex4uid.com/id/login/">"Analisa Trading Central"</a></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section investing-col-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card" style="width: 25rem;">
          <div class="card-body">
            <h5 class="card-title" style="font-weight: 800; font-size: 15px;">Cara membaca analisa dari Trading Central:
            </h5>
            <h6 class="card-subtitle mb-4 text-muted" style="position: relative;"><img src="images/icons/check.png"
                class="mr-2">Garis hijau - garis ressistance</h6>
            <h6 class="card-subtitle mb-4 text-muted" style="position: relative;"><img src="images/icons/check.png"
                class="mr-2 justify-content-end">Garis merah - garis support</h6>
            <h6 class="card-subtitle mb-4 text-muted justify-content-end" style="position: relative;"><img
                src="images/icons/check.png" class="mr-2">Garis biru adalah skenario alternatif yang harus diikuti jika
              harga mencapai tingkat ini
            </h6>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img src="images/analisa2/chart.png" style="margin-top: -120px; ">
      </div>
    </div>
  </div>
</section>

<section class="section investing-col-bg2">
  <div class="conatainer">
    <div class="row">
      <div class="col-md-12">
        <h4 class=" text-light mx-auto text-center mt-4" style="font-weight: 800;">Gratis! Akses untuk analisa Trading
          Central
          bagi klien
          Forex4you</h4>
      </div>
    </div>
    <div class="button-login mt-4">
      <a href="https://account.forex4uid.com/id/user-registration/" class="btn btn-success text-light">Masuk</a>
      <a href="https://account.forex4uid.com/id/user-registration/" class="btn btn-success text-light">Daftar Akun</a>
    </div>
    <p class="text-light text-center mt-3">Trading CFD memiliki resiko kerugian yang signifikan</p>
  </div>
</section>
<%- include('layout/auth_footer.ejs') %>