</section>
<section class="section footers">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="logo">
          <div class="box-logo">
            <a href="#"><img src="images/logo.png" alt=""> </a>
          </div>
          <div class="footer-social">
            <p>Ikuti kami di sosial media</p>
            <div class="footer-icon ml-5">
              <a href="https://wa.link/lbvclu"><img style="width: 30px; height: 30px; " src="images/icons/whatsapp.png"
                  alt=""></a>
              <a href="https://t.me/Tradingforex4you"><img style="width: 30px; height: 30px; margin-left: 7px;"
                  src="images/icons/telegram.png" alt=""></a>
              <a href="https://msng.link/o/?tradingforex4u=ig"><img style="width: 30px; height: 30px; margin-left: 7px;"
                  src="images/icons/instagram.png" alt=""></a>
            </div>
          </div>
          <div class="footer-social mt-4">
            <p>Dukungan 24/5</p>
            <a href="#"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z" />
              </svg> 0078033212324</a>
          </div>
        </div>
      </div>
      <div class="col" style="margin-top: 35px;">
        <div class="footer-social">
          <ul>
            <li class="mb-4"><a href="#">Trading</a></li>
            <li class="mb-4"><a href="#">Investasi</a></li>
            <li class="mb-4"><a href="#">Analisa</a></li>
            <li class="mb-4"><a href="#">Platform</a></li>
            <li class="mb-4"><a href="#">Tentang Kami</a></li>
          </ul>
        </div>
      </div>
      <div class="col" style="margin-top: 35px;">
        <div class="footer-social">
          <ul>
            <li class="mb-4"><a href="#">Kontak</a></li>
            <li class="mb-4"><a href="#">Promosi</a></li>
            <li class="mb-4"><a href="#">Partnership</a></li>
          </ul>
        </div>
      </div>
      <div class="col" style="margin-top: 35px;">
        <div class="footer-social">
          <ul>
            <li><a href="#"><img src="images/payment/google-play.png" alt=""></a></li>
            <li class="mb-4"><a href="#"><img style="width: 170px; height: 60px; padding-left: 8px;"
                  src="images/payment/app-store.png" alt=""></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer E-Global -->
<section class="section footer-eglobal">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="footer-header">
          <div class="logo-eglobal mt-4">
            <svg id="eglobal-ondark" viewBox="0 0 500 50">
              <g fill="none" fill-rule="evenodd">
                <path fill="#EE2E24"
                  d="M41.287 10.106c-1.081-2.946-3.34-4.401-6.876-4.401-4.749 0-7.694 3.2-7.694 8.475 0 5.277 2.945 8.477 7.694 8.477 3.34 0 5.894-1.71 6.975-4.292h-5.404v-5.42h11.721v14.443H42.86v-2.985c-2.258 2.474-5.107 3.674-8.774 3.674-8.12 0-13.917-5.493-13.917-13.897C20.168 5.813 25.67.284 34.411.284c7.533 0 12.67 4.148 13.36 9.822h-6.484z">
                </path>
                <path fill="#9099A3"
                  d="M21.117.974v5.42H5.96v4.745h12.574v5.42H5.959v5.406h15.158v5.42H0V.973zm28.389 26.414h5.5V.976h-5.5zm17.974-4.003c3.146 0 5.24-2.401 5.24-5.857 0-3.456-2.094-5.821-5.24-5.821-3.208 0-5.271 2.401-5.271 5.857 0 3.456 2.063 5.821 5.272 5.821m0-16.371c7.04 0 11.2 4.074 11.2 10.514 0 6.475-4.225 10.55-11.2 10.55-6.972 0-11.229-4.075-11.229-10.55 0-6.44 4.192-10.514 11.229-10.514m17.841 10.731c0 3.42 2.029 5.64 5.205 5.64 3.144 0 5.207-2.146 5.207-5.602 0-3.456-2.033-5.677-5.207-5.677-3.176 0-5.205 2.257-5.205 5.64zm0-7.784c1.342-1.636 3.406-2.547 6.186-2.547 6.025 0 10.184 4.183 10.184 10.331 0 6.078-4.125 10.333-10.085 10.333-2.716 0-4.747-.8-6.285-2.51v1.82h-5.5V.974h5.5V9.96zm27.677 8.949c-3.112.365-4.749.619-4.749 2.51 0 1.492 1.145 2.51 2.98 2.51 3.765 0 6.253-2.22 6.253-5.346v-.692c-1.146.692-2.651.8-4.484 1.019zm-9.332-4.692c0-4.658 3.439-7.204 10.05-7.204 4.782 0 9.135 1.2 9.135 7.422v9.786c0 1.345.166 2.22.82 2.728v.438h-6.059l-.26-2.149c-1.998 2.002-4.354 2.838-7.4 2.838-5.008 0-7.89-2.618-7.89-6.51 0-4.076 2.784-5.495 8.415-6.003 4.55-.4 7.005-.255 7.005-2.438 0-1.491-1.375-2.22-4.092-2.22-2.685 0-4.027.983-4.027 3.312h-5.697zm20.985 13.17h5.498V.976h-5.498z">
                </path>
              </g>
            </svg>
            <p class="text-muted text-header card-text">operated by E-Global
              Trade & Finance Group, Inc, BVI.</p>
            <div class="addres-eglobal">
              <p>First Floor, Mandar House, Johnson's Ghut, P.O. Box 3257, Road Town, Tortola, British Virgin Islands
                Phone: +1-284-494-1576
                Fax: +1-284-495-4753</p>
            </div>
            <div class="end-footer">
              <a class="link-lisensi" href="" style="text-decoration: underline;">Lisensi</a>
              <a class="link-lisensi" href="" style="text-decoration: underline;"> Informasi Hukum</a>
              <a class="link-lisensi" href="" style="text-decoration: underline;"> Kebijakan Privasi</a>
              <a class="link-lisensi" href="" style="text-decoration: underline;"> Peringatan Resiko</a>
              <a class="link-lisensi" href="" style="text-decoration: underline;"> Dokumentasi Hukum</a>
              <a class="link-lisensi" href="" style="text-decoration: underline;"> Keamanan Dana Nasabah</a>
              <a class="link-lisensi" href="" style="text-decoration: underline;"> Keluhan</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="end-footer">
          <p>E-Global Trade & Finance Group, Inc. resmi dan diatur oleh BVI FSC dibawah undang-undang sekuritas dan
            Investasi Bisnis, 2010 Lisensi#: SIBA/L/12/1027.</p>
        </div>
      </div>
    </div>
  </div>
</section>



<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p><i class="fa fa-copyright"></i> Copyright
          <script
            type='text/javascript'>var creditsyear = new Date(); document.write(creditsyear.getFullYear());</script>
          </a>. The Next Inovation All rights reserved.
      </div>
    </div>
  </div>
</footer>
<!-- //===============================================  ========================================= -->
<!-- Scripts -->
<!-- Bootstrap core JavaScript -->

< <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>


  <script src="javascripts/isotope.min.js"></script>
  <script src="javascripts/owl-carousel.js"></script>
  <script src="javascripts/lightbox.js"></script>
  <script src="javascripts/tabs.js"></script>
  <script src="javascripts/video.js"></script>
  <script src="javascripts/slick-slider.js"></script>
  <script src="javascripts/custom.js"></script>
  </body>

  </html>