<div class="logo">
  <div class="col-md">
    <div class="box-logo">
      <a href="/" itemprop="url"><img src="/images/logo.png" alt=""> </a>
    </div>
  </div>
</div>
<a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
<nav id="menu" class="main-nav" role="navigation">

  <ul class="main-menu">
    <li><a href="/" itemprop="url">Home</a></li>
    <li class="has-submenu">
      <a href="/trading" itemprop="url">Trading</a>
      <ul class="sub-menu-trader">
        <li>
          <a href="/trading" itemprop="url">
            Baca tentang trading dengan Forex4you >
          </a>
        </li>
        <div class="row">
          <div class="col-sm-6 line-ver">
            <li>
              <p class="text-muted text-uppercase">Jenis Akun</p>
              <a href="/cent_akun">Cent</a>
            </li>
            <li><a href="/procent_akun" itemprop="url">Pro Cent</a></li>
            <li><a href="/classic_akun" itemprop="url">classic</a></li>
            <li><a href="/prostp_akun" itemprop="url">pro stp</a></li>
            <div class="mt-3">
              <li><a href="/compare-accounts">Perbandingan Akun</a></li>
            </div>
          </div>
          <div class="col-sm-6">
            <li>
              <p class="text-muted text-uppercase">Dapatkan Lebih Banyak Keuntungan</p>
              <a href="#section2">Leader Share For You</a>
              <p class="mt-2 text-muted text-uppercase">Dapatkan penghasilan berlipat dengan copy trade</p>
            </li>
            <div class="row sub-sub-trading">
              <div class="col" class="sub-trading" style="padding-top: 115px;">
                <li><a href="#" style="position: absolute;">Penarikan Dan Penyiapan Dana</a></li>
                <li><a href="#" style="position: absolute; padding-top: 40px;">Likuiditas LIVE Kami</a></li>
              </div>
              <div class="col" class="sub-trading" style="padding-top: 115px;">
                <li><a href="#" style="position: absolute;">Syarat & Ketentuan Trading</a></li>
                <li><a href="#" style="position: absolute; padding-top: 40px;">Kalkulator Trader</a></li>
              </div>
            </div>
          </div>
        </div>
      </ul>
    </li>

    <li class="has-submenu"><a href="/copy-trading" itemprop="url">Copy Trading</a>
      <ul class="sub-menu-cptrading">
        <div class="row">
          <div class="col-sm-6 line-ver">
            <li><a href="/investing" itemprop="url">Share4you - Copy Trading</a>
              <p class="text-muted" itemprop="url">Copy trading otomatis dari trader terbaik</p>
            </li>
          </div>
          <div class="col-sm-6">
            <li><a href="/traders_user">Leader Share4you</a>
              <p class="text-muted">Daftar leader untuk diikuti</p>
            </li>
          </div>
        </div>
      </ul>
    </li>
    <li class="has-submenu"><a href="/analisa" itemprop="url">Analisa</a>
      <ul class="sub-menu-analisa">
        <li><a href="/analisa" itemprop="url">Keseluruhan Analisa Forex4you ></a></li>
        <li class="text-uppercase">
          <p class="text-muted">Jenis Analisa</p>
          <a href="/kalender-ekonomi" itemprop="url">Kalender ekonomi</a>
        </li>
        <li><a href="/trading-central" itemprop="url">Trading Central</a></li>
      </ul>
    </li>
    <!-- <li><a href="#section5">Video</a></li> -->
    <li><a href="/platform" itemprop="url">Platform</a>
      <!-- <ul class="sub-menu-platform">
        <li><a href="/platform">Semua platform yang kami tawarkan ></a></li>
        <li>
          <p class="text-muted text-uppercase">Platform Kami</p>
          <a href="#section3">Web Trader Forex4you</a>
        </li>
        <li><a href="#section3">MobileApp Forex4you</a></li>
        <li><a href="#section3">Aplikasi ponsel Forex4you Trader Room</a></li>
        <li><a href="#section3">MetaTrader 4</a></li>
        <li><a href="#section3">Desktop Forex4you</a></li>
      </ul> -->
    </li>
    <!-- <li class="has-submenu"><a href="#">Tentang Kami</a>
      <ul class="sub-menu-about">
        <li><a href="#">Profil Perusahaan ></a></li>
        <li>
          <p class="text-muted text-uppercase">informasi Lebih Lanjut</p>
          <a href="#section3">Hubungi kami</a>
        </li>
        <li><a href="#section3">Lisensi</a></li>
        <li><a href="#section3">Kualitas layanan</a></li>
        <li><a href="#section3">Data oprasional</a></li>
        <li><a href="#section3">Bukti pencapaian kami</a></li>
        <li><a href="#section3">Keamanan dana nasabah</a></li>
        <li><a href="#section3">Penghargaan</a></li>
        <li><a href="#section3">Pameran</a></li>
        <li><a href="#section3">Sponsorship</a></li>
      </ul>
    </li> -->
    <li><a class="btn btn-success" href="https://account.forex4uid.com/id/user-registration/?affid=e1euku2">SIGN
        IN</a></li>
  </ul>
</nav>

</header>